.center {
  margin: auto;
  padding: 10px;
}

.container {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

a {
  color: #697b3b;
}

.item {
  flex: 1;
}

.card {
  color: white;
  background-color: #1E2022;
  border-color: rgb(88, 97, 66);

  border-width: 0.2rem;
  border-top-width: 0.2rem;
  border-left-width: 0.2rem;
  border-right-width: 0.2rem;

  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  margin: 1em;
}
