<!-- <div class="center">
  <div *ngFor="let image of image_list" class="center">
    <img src="http://localhost:5000/api/images/{{image}}" alt="Whoops... Lost this one." height="300" width="300">
    <p>{{image}}</p>
  </div>
</div> -->

<div class="container">
  <div *ngFor="let image of image_list" class="">
    <div class="item">
      <div class="card">
        <!-- <h5 class="card-header">{{image}}</h5> -->
        <img class="card-img-top" src="http://localhost:5000/api/images/{{image}}" alt="Whoops... Lost this one.">
        <div class="card-body">
          <p class="card-text">{{image}}</p>
          <a href="#" class="card-link">Go to Operation</a>
        </div>
      </div>
    </div>
  </div>
  <!-- 
  <div *ngFor="let image of image_list; let ind = index;">
    <div *ngIf="ind % 2 == 0">
        {{image_list[ind]}}
    </div>
    <div *ngIf="ind % 2 == 1">
      {{image_list[ind]}}
    </div>
</div> -->

</div>
