.center {
  margin: auto;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

a {
  color: #697b3b;
}

.item {
  flex-grow: 2;
  flex-shrink: 1;
}

.card {
  color: white;
  background-color: #1E2022;
  border-color: rgb(88, 97, 66);
  
  border-width: 0.2rem;
  border-top-width: 0rem;
  border-left-width: 0rem;
  border-right-width: 0rem;

  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  margin: 0.5em;
  max-width: 20rem;
}
