.v-spacing {
  margin-top: 2rem;
}

body {
  background-color: gray;
}

::placeholder {
  color: white;
}

.dark-input {
  background-color: #343a40;
  border-color: rgb(88, 97, 66); //#007bff;
  color: white;
}

.btn-primary {
    background-color: rgb(88,97,66);
}
