  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h1>Steadfast 1st Infantry</h1>
          <p class="lead">Etiam Bro Constantia</p>
        </div>
        <div class="col-sm">
          <p class="lead info">
            Steadfast 1st Infantry is a semi-realistic fun-focussed Dutch gaming group.<br>
            We are a small tight-knit community of about 20 guys with a desire to grow.
            <p>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <h3>
      So you said Dutch?
    </h3>
    <p>
      Yep. We're a Dutch team, so we speak Dutch on our server. If you feel like joining then do so if you speak
      Dutch!
      <br>
      The rest of this page will be in Dutch for just that reason.
      Our Belgian brothers in arms are welcome too, of course.
    </p>
    <hr>
    <h3>
      Okay, dat klinkt best vet. Wat moet ik nog weten?
    </h3>
    <ul class="list-group-flush">
      <li class="list-group-item">
        <h5><b>Algemeen</b></h5>
      </li>
      <li class="list-group-item">Er zijn jaarlijks meerdere meetings bij een pub met verschillende leden.
      <li class="list-group-item">We gebruiken een Dedicated Teamspeak Server.</li>
      <li class="list-group-item">We gebruiken een Discord Server.</li>
      <li class="list-group-item">
        <h5><b>ArmA 3</b></h5>
      </li>
      <li class="list-group-item">Losstaande missies op basis van verzoeken van onze spelers.</li>
      <li class="list-group-item">Campaigns in verschillende settings. Anti-terreur, Vietnam, Tweede Wereldoorlog en
        meer!</li>
      <li class="list-group-item">Variërende mate van realisme.</li>
      <li class="list-group-item">Variërende rollen per missie! Als je met ons meedoet zit je nooit vast aan één rol.
      </li>
      <li class="list-group-item">Operaties zijn sporadisch en worden gepland en doorgecommuniceerd via de
        Whatsapp-groep.</li>
      <li class="list-group-item">Geen verplichte dagen, trainingen, attentie of ops!</li>
    </ul>
    <hr>
    <h3>
      Ja, top. Maar wat is het addertje in het gras dan?
    </h3>
    <ul class="list-group-flush">
      <li class="list-group-item">Je moet Nederlands spreken.</li>
      <li class="list-group-item">Je moet een legale download van ArmA 3 bezitten.</li>
      <li class="list-group-item">Je moet een werkende microfoon hebben.</li>
      <li class="list-group-item">Je moet een goeie klik hebben met ons.</li>
      <li class="list-group-item">Je moet onze modpack-opties gebruiken.</li>
    </ul>
    <hr>
    <h3>
      Okay. Ik ben verkocht. Hoe doe ik mee?
    </h3>
    <div>
      Om onderdeel te worden van Steadfast moet je een Hospiteer operation meedoen. Dan gaan we vanaf daar wel kijken
      hoe
      het klikt!
      <br>
      Message ons of stuur een verzoek naar onze Steampage (<a href="https://steamcommunity.com/groups/Steadfast1stInf">
        https://steamcommunity.com/groups/Steadfast1stInf
      </a>) en we nemen contact met je op.
    </div>
    <hr>
    <div><br><br><br><br></div>
  </div>
