.navbar-nav {
  color: white;
}
.nav-item {
  :hover {
    background-color: #697b3b;
  }
}
.navbar {
  height: 3em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

a {
  color: white;
  margin-left: 1rem;
}

.active {
  height: 97%;
  background-color: #697b3b;
}
