<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(88,97,66);">
  <div style="background-color:rgb(141,124,78);">
    <a class="navbar-brand brand-custom" href="#" style="color:black;">SteadFast 1st. Infantry</a>
  </div>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link login-custom" routerLink="/operations/list">Operations <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link register-custom" routerLink="/home">Home</a>
      </li>
    </ul>
  </div>
</nav>
