.navbar-nav {
  color: white;
}

.nav-item {
  width: 100%;

  :hover {
    background-color: #697b3b;
  }
}

li {
  display: flex;
}

.user-mail {
  margin-right: 1em;
}

.navbar {
  height: 3em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

a {
  color: white;
}

.active {
  height: 97%;
  background-color: #697b3b;
}

.image {
  width: 80px;
  height: 100%;
}

.logout {
  vertical-align: middle;
}
